<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>已过期</title>
	<link rel="stylesheet" href="/Backstage/bootstrap/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/Backstage/bootstrap/css/bootstrap.min.css" type="text/css" />
</head>
<body style='background:#ccc;height: 100%'>
	<div style='margin:0 auto;width:500px;height:2000px;'>
		<img src="/Backstage/images1/error.jpg" width="500" style='margin-top: 100px' class="img-circle">
		<p style="margin-left:15px;text-align: center;font-size:40px;font-weight: bold;margin-top: 150px">AiPlus登陆时校已经过期</p>
	</div>
</body>
</html>