{include file="header" /}
<div id="mws-container" class="clearfix">
<div class="container">
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i> 欢迎您：{$Think.session.admin.name}!</span>
        <span style="float: right;margin-top: -24px;">当前时间：<font id="time"></font></span>
    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-table">
            <thead>
                <tr>
                    <th colspan="2">您的相关信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>登录账号：</td>
                    <td>{$Think.session.admin.name}</td>
                </tr>
                <tr>
                    <td>登录次数：</td>
                    <td>{$Think.session.admin.times}</td>
                </tr>
                <tr>
                    <td>ip地址：</td>
                    <td>{$ip}</td>
                </tr>
                <tr>
                    <td>PHP版本：</td>
                    <td>{$version}</td>
                </tr>
                <tr>
                    <td>MySQL版本：</td>
                    <td>{$mysql}</td>
                </tr>
                <tr>
                    <td>服务器版本：</td>
                    <td>{$nginx}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
</div>
</div>
<script type='text/javascript'>
    $(function() {
    var show = $('#time');
    var nowTime = function()
    {
       var time = new Date();
       // 程序计时的月从0开始取值后+1
       var m = time.getMonth() + 1;
       if(m < 10)
       {
            m = '0' + m;
       }
       var d = time.getDate();
       if(d < 10)
       {
            d = '0' + d;
       }

       var h = time.getHours();
       if(h < 10)
       {
            h = '0' + h;
       }

       var minutes = time.getMinutes();
       if(minutes < 10)
       {
            minutes = '0' + minutes;
       }

       var s = time.getSeconds();
       if(s < 10)
       {
            s = '0' + s;
       }

       var t = time.getFullYear() + '-' + m + '-'
         + d + ' ' + h + ':'
         + minutes + ':' + s;
       show.html(t); 
    }
    nowTime();
    setInterval(function() {
        nowTime();
    }, 1000);
    })
</script>
{include file="footer" /}

