{include file="header"}
<div id="mws-container" class="clearfix">
    <div class="container">
        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span><i class="icon-table"></i>交易明细</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" action="form_layouts.html">
                    {if condition="$Think.session.tis eq 1"}
                        <div class="mws-form-message success">
                            操作成功 点击消失
                        </div>

                    {elseif condition="$Think.session.tis eq 2"/}
                        <div class="mws-form-message error">
                            操作失败 点击消失
                        </div>
                    {/if}
                </form>
            </div>
            <div class="mws-panel-body no-padding">
                <table class="mws-datatable mws-table">
                    <thead>
                        <tr>
                            <th>ID号：</th>
                            <th>用户ID：</th>
                            <th>提现账户ID：</th>
                            <th>交易金额：</th>
                            <th>余额：</th>
                            <th>交易时间：</th>
                            <th>交易类型：</th>
                            <th>账号机构：</th>
                            <th>账号名称：</th>
                            <th>收款账号：</th>
                            <th>打款操作：</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {volist name="list" id="v"}
                            {if condition="$v.type eq 1"}
                                <tr>
                                    <td style="word-break:break-all">{$v.id}</td>
                                    <td style="word-break:break-all">{$v.uid}</td>
                                    <td style="word-break:break-all">{$v.account_id}</td>
                                    <td style="word-break:break-all">{$v.transaction_account}</td>
                                    <td style="word-break:break-all">{$v.balance}</td>
                                    <td style="word-break:break-all">{$v.transaction_time}</td>
                                    {if condition="$v.type eq 1"}
                                        <td>提现</td>
                                    {/if}
                                    <td>{$v.institution}</td>
                                    <td>{$v.name}</td>
                                    <td>{$v.num}</td>
                                    <td><a class="btn btn-small btns" href="/admin/WalletDetails/pay?id={$v.id}"><i class="icon-ok"></i></a></td>
                                </tr>
                            {/if}
                        {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{include file="footer"}
