<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="/Backstage/plugins/colorpicker/colorpicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/custom-plugins/wizard/wizard.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="/Backstage/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="/Backstage/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="/Backstage/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="/Backstage/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="/Backstage/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Backstage/css/themer.css" media="screen">

<title>AiPlus助手后台</title>

</head>

<body>
    <!-- Header -->
    <div id="mws-header" class="clearfix">
    
        <!-- Logo Container -->
        <div id="mws-logo-container">
        
            <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
            <div id="mws-logo-wrap">
                <img src="/Backstage/images/title.png" >
            </div>
        </div>
        
        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="mws-user-tools" class="clearfix">
            
            <!-- User Information and functions section -->
            <div id="mws-user-info" class="mws-inset">
            
                <!-- User Photo -->
                <div id="mws-user-photo">
                    <img id='pic' src="" >
                </div>
                
                <!-- Username and Functions -->
                <div id="mws-user-functions">
                    <div id="mws-username">
                        {if condition="$Think.session.admin"}
                            {$Think.session.admin.name}
                        {else /}
                            <a href='/admin/login'>请登录</a>
                        {/if}
                    </div>
                    <ul>
                        <li><a href="/admin/detail">个人资料</a></li>
                        <li><a href="/admin/password">修改密码</a></li>
                        <li><a href="/admin/logout">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
           
            <!-- Main Navigation -->
            <div id="mws-navigation">
                <ul id='menu'>
                    <li class="active">
                        <a href="/admin"><i class="icon-home"></i> 首页</a>
                    </li> 
                        {if condition="$Think.session.arrs.name eq 'admin'"}
                            {volist name="$Think.session.ret" id="v"}
                                {if condition="($v.parent_id eq 0) && ($v.is_show eq 1)"}
                                    <li class="open">
                                        <a><i class="icon-archive"></i class='bt1'>{$v.menu_name}</a>
                                        <ul style="display: none">
                                            {volist name="$Think.session.ret" id="v1"}
                                                {eq name="$v1.parent_id" value="$v.id"}
                                                    {if condition="$v1.is_show eq 1"}
                                                        <li class='list'><a url="{$v1.menu_path}" ids="{$v1.id}" href="javascript:;">{$v1.menu_name}</a></li>
                                                    {/if}
                                                {/eq}
                                            {/volist}
                                        </ul>
                                    </li>
                                {/if}
                            {/volist}
                        {else /}  
                            {volist name="$Think.session.menudata" id="v2"}
                                {if condition="($v2.parent_id eq 0) && ($v2.is_show eq 1)"}
                                    <li class="open">
                                        <a><i class="icon-archive"></i class='bt1'>{$v2.menu_name}</a>
                                        <ul style="display: none">
                                            {volist name="$Think.session.in_id" id="v1"}
                                                {in name="$v1.parent_id" value="$v2.id"}
                                                    {if condition="$v1.is_show eq 1"}
                                                        <li class='list'><a url="{$v1.menu_path}" ids="{$v1.id}" href="javascript:;">{$v1.menu_name}</a></li>
                                                    {/if}
                                                {/in}                                      
                                            {/volist}
                                        </ul>
                                    </li>
                                {/if}
                            {/volist}
                        {/if} 
                </ul>
            </div>
        </div>
        <!-- <iframe src="" frameborder="0" id="if"></iframe> -->
<script src="/Backstage/js/libs/jquery-1.8.3.min.js"></script>      
<script>
    $(document).ready(function(){
        $("#open ul").not("#open ul:first").attr('class','closed');
        $("#open ul").not("#open ul:first").attr('style','display:none');
        $.ajax({
            url:'/info',
            type:'get', 
            async:true, 
            timeout:5000,    
            dataType:'json',   
            success:function(data){
                if(data.pic){
                    // console.log(data);
                    $('#pic').attr('src',data.pic);
                }else{
                    $('#pic').attr('src','/Backstage/example/profile.jpg');
                }
            },
            error:function(xhr,textStatus){
                // console.log('错误')
                // console.log(xhr)
                // console.log(textStatus)
            },
        })
    });

    $('.open').click(function(){

        $(this).find('ul').css('display','block');

    })

     function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    var relft = getUrlParam('relft');
    
    if(relft){
        var aids = $("a[ids='"+relft+"']");
        var id1 =aids.parents('ul').css('display','block');
        var title =aids.text();
        aids.html('<i class="icon-reply-to-all" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);"></i>'+title);
    }


    $('.list').click(function(){
        var url = $(this).find('a').attr('url');
        var ids = $(this).find('a').attr('ids');
        var href = url+"?relft="+ids;

        $(this).parent('li').css('display','block');
        // $('#if').attr('src',url)
        location.href = href;
    })
</script>
        