{include file="header"}
<div id="mws-container" class="clearfix">
	<div class="container" >
		<div class="mws-panel ">
			<div class="mws-panel-header">
		    	<span><i class="icon-table"></i>需求列表</span>
		    </div>
		    <div class="mws-panel-body no-padding" >
                <form class="mws-form" action="form_layouts.html">
                    {if condition="$Think.session.tis1 eq 1"}
                        <div class="mws-form-message success">
                            操作成功 点击消失
                        </div>
                    {elseif condition="$Think.session.tis1 eq 2"/}
                        <div class="mws-form-message error">
                            操作失败 点击消失
                        </div>
                    {/if}
                </form>
            </div>
		    <div class="mws-panel-body no-padding" > 
		        <table class="mws-datatable mws-table" >
		            <thead>
		                <tr>
		                	<th>ID：</th>
		                    <th>雇主ID：</th>
		                    <th>能人ID：</th>
		                    <th>任务名称：</th>
		                    <th>时间预算：</th>
		                    <th>工作地点：</th>
		                    <th>用人类别：</th>
		                    <th>任务标签：</th>
		                    <th>任务量预算：</th>
		                    <th>执行方式：</th>
		                    <th>任务类型：</th>	
		                    <th>操作：</th>
		                </tr>
		            </thead>
		            <tbody align='center'>
		            	{volist name="list" id="v"}
		            		{if condition="$v.is_delete eq 0"}
				                <tr>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.id}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.employ_id}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.worker_id}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.title}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.task_time}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.address}</td>
				                    {if condition="$v.type eq 0"}
				                    	<td>单独用人</td>
				                    {elseif condition="$v.type eq 1"}
				                    	<td>项目用人</td>
			                    	{/if}
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.task_tags}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.task_price}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.method}</td>
				                    <td style=' word-wrap:break-word; word-break:break-all; overflow: hidden;'>{$v.task_type}</td>
				                    <td>
				                    	<span class="btn-group">
		                                    <a href="/admin/employ/edit?id={$v.id}" class="btn btn-small"><i class="icon-pencil"></i></a>
		                                    <a href="/admin/employ/del?id={$v.id}" onclick="return confirm('确定要删除这个需求么?');" class="btn btn-small"><i class="icon-trash"></i></a>
		                                </span></td>
			               		</tr>
			               	{/if}
			            {/volist}
		            </tbody>
		        </table>
		    </div>
		</div>
	</div>
</div>
{include file="footer"}